/************* first page on home */
#welcome-h1 {
  display: flex;
}

#welcome-container {
  display: flex;
  height: 100vh;
  background-image: url('/public/principal-background.png');
  background-size: contain;
}

#welcome-header {
  position: absolute;
  font-size: 21px;
  font-weight: 900;
  color: var(--yellow);
  letter-spacing: 2px;
  margin: 28px 36px;
  z-index: 1;
}

#welcome-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/*************  imgs on home */
#background-deliver {
  width: 34rem;
  height: 33.5rem;
  border-radius: 50%;
  background-color: var(--backgroud-image);
  position: relative;
}

#img-baloons {
  position: relative;
}

#img-deliver {
  height: 37.8rem;
  object-fit: cover;
  position: absolute;
  bottom: -2rem;
  left: -1.1rem;
}

#img-blue-baloon {
  position: absolute;
  height: 125px;
  right: 484px;
  bottom: 438px;
}

#img-yellow-baloon {
  position: absolute;
  height: 226px;
  right: -3rem;
  bottom: 7rem;
}

#welcome-go {
  position: relative;
}

#welcome-simbol {
  text-align: center;
  position: relative;
}

#welcome-paragraph {
  position: relative;
  right: 749px;
  top: 37px;
}

/************* texts on home */
#go-text {
  color: var(--off-white);
  font-weight: 900;
  font-size: 160px;
  position: absolute;
  right: 24rem;
  bottom: -82px;
}

#simbol-text {
  color: var(--yellow);
  font-weight: 900;
  font-size: 36px;
  position: absolute;
  right: 45rem;
  bottom: -1rem;
}

#enjoy-text {
  color: var(--off-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  width: 226px;
}

#order-now {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  width: 14rem;
  color: var(--off-white);
  margin-top: 0.7rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 20.79px;
  letter-spacing: 1.78px;
  padding: 18px;
  border-radius: 20rem;
  align-items: center;
  position: absolute;
  top: 127px;
}

.button-arrow {
  color: var(--yellow);
}

#success {
  position: relative;
}

@media (min-width: 366px) and (max-width: 1105px) {
  #welcome-h1 {
    justify-content: center;
  }

  #welcome-header {
    margin: 13px;
  }

  #img-deliver {
    height: 16.8rem;
    bottom: -1.2rem;
    left: -6px;
  }

  #background-deliver {
    width: 15rem;
    height: 14.5rem;
    bottom: 7rem;
  }

  #img-blue-baloon {
    height: 3rem;
    right: 211px;
    bottom: 308px;
  }

  #img-yellow-baloon {
    height: 96px;
    right: -1rem;
    bottom: 10rem;
  }

  #go-text {
    font-weight: 900;
    font-size: 113px;
    position: absolute;
    right: -6px;
    top: 16px;
    letter-spacing: 7px;
  }

  #order-now {
    display: none;
  }

  #welcome-paragraph {
    right: 269px;
    top: 159px;
  }

  #enjoy-text {
    width: 19rem;
    text-align: center;
    font-size: 16px;
  }

  #session1-welcome {
    position: relative;
    bottom: 33px;
  }

  #simbol-text {
    right: 15px;
    bottom: -59px;
    text-wrap: nowrap;
    font-size: 45px;
    letter-spacing: 4px;
  }
}
