/************* first page on home */
#welcome-container {
  display: flex;
  height: 100vh;
  background-image: url('/public/principal-background.png');
  background-size: contain; 
}

#welcome-header {
  position: absolute;
  font-size: 21px;
  font-weight: 900;
  color: var(--yellow);
  top: 32px;
  left: 44px;
  z-index: 1;
  letter-spacing: 2px;
}

#welcome-top{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

/*************  imgs on home */
#background-deliver {
  width: 35rem; 
  height: 34.5rem; 
  border-radius: 50%; 
  background-color: var(--backgroud-image); 
  position: relative; 
}

#img-baloons{
  position: relative; 
}

#img-deliver {
  left: 0;
  height: 40.8rem; 
  object-fit: cover; 
  position: absolute;
  bottom: -3.2rem;
  left: -1.1rem;
}

#img-blue-baloon{
  position: absolute;
  height: 129px;
  right: 460px;
  bottom: 168px;
}

#img-yellow-baloon{
  position: absolute;
  height: 226px;
  right: -3rem;
  bottom: -9rem;
}

#welcome-go{
  position: relative; 
}

#welcome-simbol{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

#welcome-paragraph{
  position: relative;
  right: 770px;
  top: 37px;
}

/************* texts on home */
#go-text{
  color: var(--off-white);
  font-weight: 900;
  font-size: 160px;
  position: absolute; 
  right: 24rem;
  bottom: -82px;
}

#simbol-text{
  color: var(--yellow);
  font-weight: 900;
  font-size: 36px;
  position: absolute;
  right: 45rem;
  bottom: -1rem;
}

#enjoy-text{
  color: var(--off-white);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  width: 14rem;
}

#order-now{
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  width: 14rem;
  color: var(--off-white);
  margin-top: 0.7rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 20.79px;
  letter-spacing: 1.78px;
  padding: 18px;
  border-radius: 20rem;
  align-items: center;
  position: absolute;
  top: 140px;
}

.button-arrow {
  color: var(--yellow);   
}

